{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import '_macros.html' as macros %}
{% block page_content %}
<div class="jumbotron">
    {% if current_user.is_authenticated %}
    <h2>Welcome {{ current_user.username }} </h2>
        {% if current_user.confirmed %}
            <p>You are confirmed</p>
        {% else %}
            <p>Please confirm your account</p>
        {% endif %}
    {% else %}
    <h2>Welcome to Flasky</h2>
    {% endif %}
</div>

<div class="container-fluid">
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>

{% include '_posts.html' %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}